
.categories{
	text-align: left;
	position: relative;
	float:left;
	width:20%;
	height:100%;
	border: 2px solid green;
	margin:0px;
	padding:10px;
	h1{
		position:relative;
		font-size:25px;
	}
	button{
		margin:10px;
		border-radius: 3px;
		
	}

}