.ItemsShow{
	text-align: left;
	float:left;
	width:50%;
	height:100%;
	padding:10px;
	margin:20px;
}
.category{
	border-bottom: 1px solid gray;

		}
		img{
			margin-right: 10px;
			}
#categor{
	font-size: 9px;
}